{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container m-5">
    {% if validlink %}
    <div class="row justify-content-between my-5">
        <div class="col-md-6 offset-md-3 my-5">
            <div class="mb-5 card bg-dark text-center card-form">
                <div class="card-body">
                    <h3 class="text-primary border border-primary p-3 ">Change Password</h3>
                    <p class="text-muted">Please enter new password</p>
                    <form id="passwordChange-form" class="text-dark" method="post" nonvalidate>{% csrf_token %}
                        {{form|crispy}}
                        <input type="submit" value="Submit" class="btn btn-outline-primary btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p class="text-dark m-5 p-5 lead text-center"> <a href="{% url 'password_reset' %}">Request a new reset token</a>
    </p>
    {% endif %}
</div>

{% endblock content %}