{% extends 'base.html' %}


{% load crispy_forms_tags %}

{% block content %}
<div class="container m-5">
    <div class="row justify-content-between my-5">
        <div class="col-md-6 offset-md-3 my-5">
            <div class="mb-5 card bg-dark text-center card-form">
                <div class="card-body">
                    <h3 class="text-primary border border-primary p-3 ">Reset Password</h3>
                    <p class="text-muted">Please reset your password</p>
                    <form id="asswordChange-form" class="text-dark" method="post" nonvalidate>{% csrf_token %}
                        {{form|crispy}}
                        <input type="submit" value="Submit" class="btn btn-outline-primary btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block script %}
{{ block.super }}
<script>
    const idEmail = document.querySelector('#id_email');
    idEmail.placeholder = 'Enter your email....';
    idEmail.classList += ' p-3';
</script>
{% endblock script %}