{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block form %}
<div class="col-lg-4 mb-5">
    <div class="card bg-dark text-center card-form">
        <div class="card-body">
            <h3 class="text-primary border border-primary p-3 ">Change Password</h3>
            <p class="text-muted">Please enter new password</p>
            <form id="passwordChange-form" class="text-dark" method="post" nonvalidate>{% csrf_token %}
                {{form|crispy}}
              <input type="submit" value="Submit" class="btn btn-outline-primary btn-block">
            </form>
        </div>
    </div>
</div>
{% endblock form %}


{% block script %}
{{ block.super }}
<script>
    document.querySelector('#hint_id_new_password1').classList += ' smallClass';
    
    const idUsername = document.querySelector('#id_old_password');
    const idPassword = document.querySelector('#id_new_password1');
    const idConfirmPassword = document.querySelector('#id_new_password2');
    
    idUsername.placeholder = 'Old Password....';
    idUsername.classList += ' p-3';
    idPassword.placeholder = 'New Password....';
    idPassword.classList += ' p-3';
    idConfirmPassword.placeholder = 'Confirm Password....';
    idConfirmPassword.classList += ' p-3';

    $('#passwordChange-form label').remove()
</script> 
{% endblock script %}